body{
 background:url(http://media1.santabanta.com/full1/Festivals/Eid/eid-45a.jpg) no-repeat center center fixed;
 -webkit-background:cover;
 -moz-background:cover;
 -o-background:cover;
 background:cover;
}